.error_img_holder {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  .vert_hor_item_img {
    width: 50%;
  }
}
.error-h5 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
}
