.auth_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .brandForm {
    width: 25rem;
    text-align: center;
    .brandInput {
      width: 100%;
      margin: 0.25rem 0;
    }
    .brandButton {
      margin: 0.25rem 0 0 0;
      width: 100%;
    }
  }
}
